[Desktop Entry]
Name=Anathema
Comment=Anathema brings back the classic Metroidvania feel of exploration, backtracking and overall progression in a grim, futuristic gothic setting.
Exec=anathema
Icon=Anathema
Terminal=false
Type=Application
Categories=Game;
